<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Hoya 2020 Bills </title>
 
   <style>
 
       * {
           background-color: #001628;
           margin: 0;
           padding: 0;
           box-sizing: border-box;
       }
 
       .outer {
           margin-left: 230px;
           margin-right: 100px;
       }
 
   </style>
</head>
<body>
  
   <div class="outer">
   <body>
       <script id="govtrack:widget:bill:116:hr2795:script" src="https://www.govtrack.us/congress/bills/116/hr2795/widget.js" type="text/javascript"></script>
     </body>
     <body>
       <script id="govtrack:widget:bill:116:hr2748:script" src="https://www.govtrack.us/congress/bills/116/hr2748/widget.js" type="text/javascript"></script>
     </body>
     <body>
       <script id="govtrack:widget:bill:116:hr4679:script" src="https://www.govtrack.us/congress/bills/116/hr4679/widget.js" type="text/javascript"></script>
     </body>
     <body>
       <script id="govtrack:widget:bill:116:hr5589:script" src="https://www.govtrack.us/congress/bills/116/hr5589/widget.js" type="text/javascript"></script>
     </body>
     <body>
       <script id="govtrack:widget:bill:116:hr5457:script" src="https://www.govtrack.us/congress/bills/116/hr5457/widget.js" type="text/javascript"></script>
     </body>
     <body>
       <script id="govtrack:widget:bill:116:hr5450:script" src="https://www.govtrack.us/congress/bills/116/hr5450/widget.js" type="text/javascript"></script>
     </body>
     <body>
       <script id="govtrack:widget:bill:116:hres762:script" src="https://www.govtrack.us/congress/bills/116/hres762/widget.js" type="text/javascript"></script>
     </body>
     <body>
       <script id="govtrack:widget:bill:116:s2399:script" src="https://www.govtrack.us/congress/bills/116/s2399/widget.js" type="text/javascript"></script>
     </body>
     <body>
       <script id="govtrack:widget:bill:116:hr5355:script" src="https://www.govtrack.us/congress/bills/116/hr5355/widget.js" type="text/javascript"></script>
     </body>
     <body>
       <script id="govtrack:widget:bill:116:hr5354:script" src="https://www.govtrack.us/congress/bills/116/hr5354/widget.js" type="text/javascript"></script>
     </body>
     <body>
       <script id="govtrack:widget:bill:116:hr5221:script" src="https://www.govtrack.us/congress/bills/116/hr5221/widget.js" type="text/javascript"></script>
     </body>
     <body>
       <script id="govtrack:widget:bill:116:hr5194:script" src="https://www.govtrack.us/congress/bills/116/hr5194/widget.js" type="text/javascript"></script>
     </body>
     <body>
       <script id="govtrack:widget:bill:116:hr2250:script" src="https://www.govtrack.us/congress/bills/116/hr2250/widget.js" type="text/javascript"></script>
     </body>
     <body>
       <script id="govtrack:widget:bill:116:hr5156:script" src="https://www.govtrack.us/congress/bills/116/hr5156/widget.js" type="text/javascript"></script>
     </body>
 
     </div>
</body>
</html>
 

